<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298433597570-nprmpfk16vsdh35usekij1skefnu03eo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298433597570-nprmpfk16vsdh35usekij1skefnu03eo</string>
	<key>API_KEY</key>
	<string>AIzaSyC9hvdt1vazxpfQYrwJc3TD_Z1RcaiwD5w</string>
	<key>GCM_SENDER_ID</key>
	<string>298433597570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbestech.jobhub</string>
	<key>PROJECT_ID</key>
	<string>jobhub-nodejs</string>
	<key>STORAGE_BUCKET</key>
	<string>jobhub-nodejs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298433597570:ios:6df0280648e3ef14a5a49b</string>
</dict>
</plist>